*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

.wrapper {
    display: flex;
    position: relative;
}




.sidenavbar{
    position: fixed;
    height: 100%;
    width: 250px;
    background-color: rgb(68, 0, 255);
    overflow-y: hidden;
}


.sidenavbar h2 {
    text-align: center;
    padding: 30px;
    text-transform: uppercase;
    color: azure;
    font-weight: bold;
    font-size: 20px;
    border-bottom: 1px solid #fff;
}

.sidenavbar ul {
    margin-top: 15px;
    height: auto;
    width: 100%;
    padding: 0;
}
.sidenavbar ul li .links  {
   height: 55px;
   width: 100%;
   color:wheat ;
   list-style-type: none;
   display: flex;
   flex-direction: row;
   margin: 0;
   justify-content: center;
   align-items: center;
   margin-bottom: 5px;
}

.sidenavbar ul li  .links:hover {
    background: whitesmoke;
    border-radius: 25px;
    color: black;
}


.mainContent {
    width: 98%;
    margin-left: 250px;
} 